/* Mi predio */
.add-cancha button {
    padding: 8px 10px;
    background-color: #38CCCC;
    width: fit-content;
    color: #ABF7F7;
    border-style: none;
    display: flex;
    color: #ECFDFD;
    font-family: "Lexend", sans-serif;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 28px;
  }
  .add-cancha button label i{
    padding-right: 0.5rem;
  }
  .add-cancha button label{
    cursor: pointer;
  }
  .add-cancha button:hover {
    transform: translateZ(50px);
    transform: scale(1.05);
    color: #042F2F;
  }
  .add-cancha button:active {
    transform: translateY(-1px);
    transform: rotate(2deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .step-links {
    font-family: "Lexend", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #329F9F;
    border-radius: 1.625rem;
    padding: .625rem;
    color: #ABF7F7;
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-bottom: 1.25rem;
  }
  
  .step-links a {
    background-color: #ABF7F7;
    border-radius: 1.625rem;
    text-decoration: none;
    list-style: none;
    color: #042F2F;
    padding: .625rem;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .step-links a:hover {
    transform: translateZ(50px);
    transform: scale(1.05);
  }
  .step-links a:active {
    transform: translateY(-1px);
    transform: rotate(2deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-edit{
    background-color: none;
    background: none;
    border:none;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .btn-edit:hover {
    transform: translateZ(50px);
    transform: scale(1.05);
    background:fixed;
    background-color: #38CCCC;
    border-radius: 50%;
  }
  .btn-edit:active {
    transform: translateY(-1px);
    transform: rotate(2deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #editar-cancha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .75rem;
  }
  #editar-cancha label {
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
  }
  #editar-cancha input {
    width: 27.4375rem;
    font-family: "Khula", sans-serif;
    height: 2.5rem;
    border-radius: 0.75rem;
    background: #ABF7F7;
    border: 0.0625rem solid #D4D7E3;
    padding-left: 0.625rem;
    background-color: #ECFDFD;
  }
  #editar-cancha input {
    background: #ABF7F7 !important;
    color: #042F2F;
  }
  
  #editar-cancha input:focus {
    border: 2px solid #042F2F;
    color: #042F2F;
  }
  .modal-body select:disabled {
    background-color: #38CCCC;
    border: none;
    color: #042F2F;
    border-radius: 1.25rem;
  }

/* Estilos RANGE INPUT*/

.range-wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 15px 40px 0px 40px;
  border-radius: 10px;
}
.range-wrapper p {
  text-align: center;
  margin-bottom: .3125rem;
}
.range-container {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: transparent !important;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent !important;
  pointer-events: none;
}

input[type="range"]:focus {
  background-color: transparent !important;
}

.slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.range-container input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
.range-container input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
.range-container input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
.range-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #38CCCC;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
.range-container input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #38CCCC;
  pointer-events: auto;
  border: none;
}
.range-container input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #38CCCC;
  pointer-events: auto;
}
.range-container input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff !important;
  border: 1px solid #38CCCC !important;
}
.values {
  background-color: #38CCCC;
  width: 90%;
  position: relative;
  margin: auto;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
.values:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #38CCCC;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
}