/* Mis reservas */

.predios ul li .datos-reservas {
    padding-top: 0.625rem;
    justify-content: space-between;
  }
  .predios ul li .datos-reservas img {
    width: 40px;
    height: 40px;
  }
  .predios ul li .datos-reservas a {
    text-decoration: none;
    color: #042F2F;
  }
  .predios ul li .datos-reservas h3 {
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
  }
  .predios ul li .datos-reservas div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  .predios ul li .datos-reservas div p {
    margin: 0;
    padding: 0.5rem;
  }
  
  .predios p {
    font-family: "Lexend", sans-serif;
    font-size: 1.25rem;
    padding: 1.25rem;
  }

  .datos-reservas button {
    display: inline-flex;
    height: 45px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #cc3838;
    box-shadow: 2px 7px 13px 1px rgba(0, 0, 0, 0.25);
    border: none;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #ECFDFD;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
  }
  .datos-reservas button:hover {
    transform: translateZ(50px);
    transform: scale(1.05);
    background-color: whitesmoke;
    color: #cc3838;
    border: 1px solid #cc3838;
  }
  .datos-reservas button:active {
    transform: translateY(-1px);
    transform: rotate(2deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .cancel-res{
    background-color: #cc3838 !important;
  }

  .volver-cancel:hover {
    transform: translateZ(50px);
    transform: scale(1.05);
    background-color: #042F2F !important;
    color: #ECFDFD;
  }

  .btn-cancel {
    background-color: #cc3838 !important;
    border-radius: .625rem !important;
  }

  .btn-cancel:hover {
    background-color: whitesmoke !important;
    color: #cc3838 !important;
    border: 1px solid #cc3838 !important;
  }