/* Predio */

.datos {
    padding: 0;
    height: 28rem;
    background-color: #ABF7F7;
    border-radius: 1.625rem;
    box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
  }
  
  .titl {
    padding: 20px 20px 0 20px;
  }
  
  .row h4 {
    font-family: "Lexend", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
    color: #042F2F;
  }
  .datos h4 {
    padding: 0;
  }
  .row h3 {
    font-family: "Lexend", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #042F2F;
  }
  
  .row div {
    justify-content: start;
  }
  
  .desc {
    min-height: 6.25rem;
    margin-top: .625rem;
    padding: 20px 20px 0 20px;
    overflow: hidden;
  }

  .disp {
    padding: 0px 20px 0 20px;
  }

  .disp p {
    color: #042F2F;
  
    font-family: Khula;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .desc p {
    color: #042F2F;
  
    font-family: Khula;
    font-size: 18px;
  }
  
  .dir-container {
    display: flex;
    align-items: center;
    gap: .3125rem;
  }
  
  .dir-container p {
    font-family: Khula;
    font-size: 22px;
    font-style: normal;
    margin: 0%;
  }

  .dir-container a {
    font-family: Khula;
    font-size: 22px;
    font-style: normal;
    margin: 0%;
    text-decoration: none;
  }

  
  .dir-container img {
    width: 3rem;
    height: 2.3125rem;
    object-fit: contain;
  }
  
  .turnos {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .turnos h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Lexend;
    font-size: 32px;
    color: #042F2F;
  }
  
  .turnos p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Lexend;
    font-size: 18px;
    color: #042F2F;
    padding-top: 1.25rem;
  }

  .btn-nav {
    font-family: Lexend;
    border-radius: 1.25rem;
    border: none;
    background-color: #38CCCC;
    color: #ABF7F7;
    font-weight: bolder;
    font-size: 1.25rem;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 3.125rem;
  }

.btn-nav:hover {
  transform: translateZ(50px);
  transform: scale(1.05);
  background-color: #042F2F;
  color: #38CCCC;
}
.btn-nav:active {
  transform: translateY(-1px);
  transform: rotate(2deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
  .table-container {
    background-color: #ABF7F7;
    border-radius: 1.25rem;
    padding: 1.875rem;
  }
  
  .turnos table {
    width: 95%;
    background-color: #ABF7F7;
    border-radius: 20px;
    padding: 1.25rem;
  }
  
  .turnos thead {
    background-color: #38CCCC;
    border-radius: 20px;
    color: #ECFDFD;
    text-align: center;
    font-family: Lexend;
    font-size: 14px;
  }
  
  .turnos tr {
    height: 4.125rem;
    border-radius: 20px;
  }
  
  .turnos thead select {
    background-color: #042F2F;
    border-radius: 28px;
    color: #ECFDFD;
    text-align: center;
    font-family: Lexend;
    font-size: 14px;
    box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 90%;
  }
  
  .turnos h4 {
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #ECFDFD;
  }
  
  .card-block p {
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    text-align: start;
    justify-content: start;
    color: #ECFDFD;
  }

.modal-header {
  background-color: #38CCCC;
}

.modal-title {
  color: #ECFDFD;
  text-align: center;
  font-family: Lexend;
  font-size: 20px;
}

/* .modal-content form {
  background-color: #ABF7F7;
} */



.modal-body {
  font-family: Lexend;
  color: #042F2F;
}

.modal-body input {
  background-color: #769999 !important;
  border: none;
  color: #ECFDFD;
  border-radius: 1.25rem;
  cursor: default;
}

#add-cancha input {
  background: #ABF7F7 !important;
  color: #042F2F;
}

#add-cancha input:focus {
  border: 2px solid #042F2F;
  color: #042F2F;
}

.modal-body input:focus {
  background-color: #769999 !important;
  border: none;
  color: #ECFDFD;
  border-radius: 1.25rem;
  outline: none;
  box-shadow: none;
}

.modal-body select {
  background-color: #38CCCC;
  border: none;
  color: #ECFDFD;
  border-radius: 1.25rem;
}

.modal-body select:focus {
  background-color: #38CCCC;
  border: none;
  color: #ECFDFD;
  border-radius: 1.25rem;
}

.modal-body option {
  background-color: #38CCCC;
  border: none;
  color: #ECFDFD;
  border-radius: 1.25rem;
}

.modal-footer button {
  display: inline-flex;
  height: 45px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #042F2F;
  box-shadow: 2px 7px 13px 1px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #ECFDFD;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}
.modal-footer button:hover {
  transform: translateZ(50px);
  transform: scale(1.05);
  background-color: #38CCCC;
  color: #ABF7F7;
}
.modal-footer button:active {
  transform: translateY(-1px);
  transform: rotate(2deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.modal-footer a {
  display: inline-flex;
  height: 45px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #769999;
  box-shadow: 2px 7px 13px 1px rgba(0, 0, 0, 0.25);
  border: none;
  color: #ECFDFD;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.modal-footer a:hover {
  transform: translateZ(50px);
  transform: scale(1.05);
  background-color: #cc3838;
  color: #ECFDFD;
}
.modal-footer a:active {
  transform: translateY(-1px);
  transform: rotate(2deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pagar {
  background-color: #38CCCC !important;
}
.ant {
  background-color: #042F2F !important;
}
.pagar:hover {
  transform: translateZ(50px);
  transform: scale(1.05);
  background-color: #009ee3 !important;
  color: #ABF7F7 !important;
}
.pagar:active {
  transform: translateY(-1px);
  transform: rotate(2deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.custom-popover {
  --bs-popover-border-color: var(--bd-violet-bg) !important;
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}