{% extends 'base2.html' %}
{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-right',
                iconColor: 'white',
                width: 500,
                customClass: {
                    popup: 'colored-toast'
                },
                showConfirmButton: false,
                timer: 3500,
                timerProgressBar: true
            })
            Toast.fire({
                icon: 'error',
                title: '{{ message }}'
            })
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- <h1 class="fw-bold mb-2 text-uppercase">Registro</h1> -->

<section class="section-register">
    <div class="img-container">
        <a href="{% url 'index' %}" ><img class="img-container logo" src="{% static 'img/logo-no-background.png' %}" alt="ReservaTotal"></a>
    </div>  

    <div class ="iniciar-sesion">
        <div class="titulo-container">
            <h2>Registrate en Reserva Total</h2>
        </div>
        <div>
            <form action="{% url 'registro' %}" method="post">
                {% csrf_token %}

                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" required>

                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" required>

                <label for="telef">Teléfono</label>
                <input type="number" name="telef" id="telef" required>

                <label for="fec_nac">Fecha de nacimiento</label>
                <input type="date" name="fec_nac" id="fec_nac" required>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="ejemplo@mail.com">

                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="al menos 8 caracteres" minlength="8">

                <label for="password">Confirmar contraseña</label>
                <input type="password" name="password2" id="password2" placeholder="al menos 8 caracteres" minlength="8">

                <button type="submit">Registrarse</button>
            </form>
        </div>
        <!-- <div class="login-alt">
            <button><img src="../assets/img/Google-logo.png" alt="Google-logo">Inicia sesión con Google</button>
        </div> -->

        <div class="registrate-container">
            <p>¿Ya tienes una cuenta?</p> 
            <a href="{% url 'login' %}">Inicia Sesión</a>
        </div>

    </div>
</section>



<!--
<div class="form-group form-outline form-white mb-4">
    <input type="text" id="username" name="username" class="form-control form-control-lg" />
    <label class="form-label" for="username">Usuario</label>
</div>
-->
<!-- <div class="form-group form-outline form-white mb-4">
    <input type="email" id="email" name="email" class="form-control form-control-lg" />
    <label class="form-label" for="email">Email</label>
</div>

<div class="form-group form-outline form-white mb-4">
    <input type="password" name="password" id="password" class="form-control form-control-lg" minlength="8" required/>
    <label class="form-label" for="password">Contraseña</label>
</div>

<div class="form-group form-outline form-white mb-4">
    <input type="password" name="password2" id="password2" class="form-control form-control-lg" minlength="8" required/>
    <label class="form-label" for="password">Repetir contraseña</label>
</div>

<button type="submit" class="btn btn-outline-light btn-lg px-5" >Registrarme</button>
</form>

<span>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></span> -->

{% endblock %}