{% load static %}
{% load consulta_reservas %}
<!DOCTYPE html>
<html lang="es" class="smooth-scroll">

<head>
    <meta charset="UTF-8">
    <title>Reserva Total</title>
    <link rel="shortcut icon" href="{% static 'img/logo-color.ico' %}" type="image/x-icon">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
{% block css %}
{% endblock %}

<body>
    {% if 'http://127.0.0.1:8000/' == request.build_absolute_uri %}
    <header>
        {% else %}
        <header class="absolute">
            {% endif %}

            <!-- <a href="{% url 'predios' %}">Predios</a> -->

            <!-- <nav class="navbar navbar-expand-lg px-4">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                            {% if perms.reservas.view_reservas %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mis_reservas' %}">Mis reservas</a>
                            </li>
                            {% endif %}
                            {% if perms.reservas.change_predios %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mi_predio' %}">Mi predio</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link inises" href="{% url 'logout' %}">Salir</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link inises" href="{% url 'login' %}">Iniciar Sesión</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav> -->
            <nav class="navbar px-4">
                <div class="container-fluid">
                    <h1><a class="navbar-brand" href="{% url 'index' %}"><img
                                src="{% static 'img/logo-no-background.png' %}" alt="Reserva Total"></a></h1>
                    {% if user.is_authenticated %}
                    <div class="d-flex gap-4 px-1 align-items-center">
                        <div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                                aria-label="Toggle navigation">
                                <h5 class="offcanvas-title" style="font-size: 1.25rem;" id="offcanvasNavbarLabel">
                                    {{user.first_name}}</h5>
                            </button>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <div class="d-flex gap-4 px-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                                <div>
                                    <h5 class="offcanvas-title" style="font-size: 1.25rem;" id="offcanvasNavbarLabel">
                                        {{user.first_name}}</h5>
                                    <h4 class="" style="font-size: .875rem;" id="offcanvasNavbarLabel">{{user.email}}
                                    </h4>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav">
                                {% if perms.reservas.view_reservas %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'mis_reservas' %}">Mis reservas</a>
                                </li>
                                {% endif %}
                                {% if perms.reservas.change_predios %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'mi_predio' %}">Mi predio</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" style="cursor: pointer;"
                                        onclick="ModalEditarUser('{{ cancha.id }}')">
                                        Modificar datos personales
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link lout" href="{% url 'logout' %}">Salir</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-end" id="navbarNav">
                        <ul class="navbar-nav d-flex flex-row">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link inises" href="{% url 'login' %}">Iniciar Sesión</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </header>

        <!-- Modal PARA EDITAR USUARIO -->
        <div class="modal fade " id="modaleditaruser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modificando datos personales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'editar_user' %}">
                        {% csrf_token %}

                        <div class="modal-body">


                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control " id="nombre" name="nombre"
                                    value="{{ user.first_name }}">
                            </div>

                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input type="text" class="form-control" name="apellido" id="apellido"
                                    aria-describedby="predioHelp" value="{{ user.last_name }}">
                            </div>


                            <div class="form-group">
                                <label for="telefono_user">Teléfono:</label>
                                {% if user.is_authenticated %}
                                <input type="text" class="form-control" name="telefono_user" id="telefono_user"
                                    aria-describedby="predioHelp" value="{% get_telefono user.id %}">
                                {% endif %}
                            </div>
                            <input type="hidden" class="form-control" name="user_id" id="user_id" value="{{user.id}}">
                            <div class="form-group">
                                <label for="email_user">Email</label>
                                <input type="email" class="form-control" id="email_user" name="email_user"
                                    aria-describedby="emailHelp" value="{{ user.email }}">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Confirmar cambios</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="footer-logo">
                <a href=""><img
                        src="{% static 'img/reserva-total-low-resolution-logo-white-on-transparent-background.png' %}"
                        alt="Logo Footer"></a>
                <p>Copyright @ 2023 Reserva Total</p>
            </div>

            <div class="footer-redes-sociales">
                <a href="{% url 'index' %}"><img src="{% static 'img/item-fb.png' %}" alt="wpp"></a>
                <a href="{% url 'index' %}"><img src="{% static 'img/item-ig.png' %}" alt="insta"></a>
            </div>

            <div class="footer-predios">
                <h4>PREDIOS</h4>
                <ul>
                    <li>Predio 1</li>
                    <li>Predio 2</li>
                    <li>Predio 3</li>
                </ul>
            </div>

            <div class="footer-info-contacto">
                <div>
                    <img src="{% static 'img/Phone.png' %}" alt="Icono Telefono">
                    <p>387 1111-111</p>
                </div>
                <div>
                    <img src="{% static 'img/Vector.png' %}" alt="Icono Ubicacion">
                    <p>Salta, Argentina</p>
                </div>
                <div>
                    <img src="{% static 'img/mail.png' %}" alt="Icono Mail">
                    <p>info@reservatotal.com.ar</p>
                </div>
            </div>
        </footer>

        <script>
            function ModalEditarUser(user_id) {

                $('#modaleditaruser').modal('show')
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        {% block javascript %}
        {% endblock %}
</body>

</html>