<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>¡Titulo en pestaña!</title>
</head>
{% block css %}
{% endblock %}

    <body>

        <header>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Salir</a>
            {% else %}
                <a href="{% url 'login' %}">Logeate</a>
                <a href="{% url 'registro' %}">Registrate</a>
            {% endif %}
            <h1>Titulo del header</h1>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <h1>Titulo del footer</h1>
        </footer>
    </body>

</html>