{% extends 'base.html' %}
{% load static %}
{% load consulta_reservas %}
{% block content %}
<div class="container">
    <div cl id="contenedor_perfil" class="row mb-3">
        <h4>Perfil del predio</h4>
        <div class="col-6 d-flex justify-content-center align-items-center">
            {% if predio.logo %}
            <img style="height: 340px; width: 340px; border-radius: 26px;" src="{{ predio.logo.url }}" alt="{{ predio.logo.url }}">
            {% else %}
            <img style="height: 340px; width: 340px; border-radius: 26px;" src="media/upload/predio.png" alt="Imagen Predeterminada">
            {% endif %}
        </div>
        <div class="col-6 d-flex flex-column justify-content-center datos">
            <div class="titl">
                <div class=" d-flex flex-colum">
                    <h4>{{ predio.nombre }}</h4> 
                    <div class="justify-content-end" style="margin-left: auto; margin-right: 0;" >
                        <button class="btn-primary" onclick="ModalEditar('{{ cancha.id }}')">Editar</button>
                    </div>
                </div>
                <br>
                <h3>{% if predio.direccion %}
                    {{ predio.direccion }}
                    {% else %}
                    No se encuentra cargado
                    {% endif %}</h3>
                <br>
                <div class="dir-container">
                    <img src="{% static 'img/VOIP.png' %}" alt="Direccion: ">
                    <p>{% if predio.telefono %}
                        {{ predio.telefono }}
                        {% else %}
                        No se encuentra cargado
                        {% endif %}</p>
                </div>
                <br>
                <div class="dir-container">
                    <img src="{% static 'img/Database-Mail.png' %}" alt="Direccion: ">
                    <p>
                        {% if predio.email %}
                            {{ predio.email }}
                            {% else %}
                            No se encuentra cargado
                            {% endif %}
                    </p>
                </div>
                <input type="hidden" id="predio_id" value="{{ predio.id }}">
            </div>
            <div class="desc">
                <p> <!-- MAPA -->
                    {% if predio.link_mapa %}
                        <img src="{% static 'img/Address.png' %}" alt="Direccion: ">
                        <a href="{{predio.link_mapa}}">¿Donde estamos?</a>
                    {% else %}
                        <p>No esta cargado el mapa</p> 
                    {% endif %}
                </p>
                <p>
                    {% if predio.descripcion %}
                    {{ predio.descripcion }}
                    {% else %}
                    No esta cargada una descripcion
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width: 100%; border-radius: 20px; overflow: hidden;height: 500px;" >
            <div class="carousel-inner" style="height: 100%;">
                {% for cancha in canchas %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 100%;">
                <img src="{{ cancha.foto.url }}" class="d-block w-100" style="height: 100%;"alt="...">
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div id="contenedor_canchas" class="row turnos">
        <h2>Turnos disponibles del predio</h2>
        <input type="hidden" name="cant_colum" id="cant_colum" value="{{ horas|length }}">
        <p>Dia :{{dia_actual }}</p>
        <div class="table-container d-flex justify-content-center">
            <table>
                <thead>
                    <td style="width: 25%; background-color: #ABF7F7;">
                        <select class="form-select" name="deporte" aria-label="Default select example">
                            <option value='all' selected>Selecciona un deporte</option>
                            {% for deporte in deportes %}
                            <option value="{{ deporte.id }}">{{ deporte.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% for hora in horas %}
                    <td>{{ hora|date:"H:i" }}</td>
    
                    {% endfor %}
                </thead>
                <tbody id="list_canchas">
                    {% if canchas %}
                    {% for cancha in canchas %}
                    <tr style="height: 9.1875rem;">
                        <th style="height: 9.1875rem;">
                            <div class="card d-flex justify-content-center" style="height: 147px; background-color: #38CCCC; border-radius: .6875rem;">
                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center ">
                                        <img style="border-radius: .75rem; width: 114px; height: 114px; margin-left: .625rem;" src="{{ cancha.foto.url }}" alt="{{ cancha.foto }}">
                                    </div>
                                    <div class="col-md-6 px-3">
                                        <div class="card-block px-6">
                                            <h4 class="card-title">{{ cancha.nombre }}</h4>
                                            <p class="card-text">{{ cancha.deporte_id }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        {% for hora in horas %}
                            {% get_reservas cancha hora as r %}
                                {% if r %}
                                    <td style="height: 9.1875rem; background-color: #577373; border: 1px solid #38CCCC; color: #ABF7F7; text-align: center; font-family: Lexend; font-weight: bold;">{{r}}</td>
                                {% else %}
                                    <td style="height: 9.1875rem; background-color: #ECFDFD; border: 1px solid #38CCCC;"></td> 
                                {% endif %}
    
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="{{ horas|length}}">No existen canchas disponibles en este momento.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="add-cancha" style="margin: 20px;">
        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar cancha<i class="bi bi-plus-circle"></i></button>
    </div>

</div>
<div class="modal" tabindex="-1" id="staticBackdrop">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar cancha</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body add-cancha">
            <form action="{% url 'mi_predio' %}" method="post" id="add-cancha" enctype="multipart/form-data" >
                {% csrf_token %}
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>

                <label for="precio">Precio</label>
                <input type="number" name="precio" min="0" step="any" id="precio" placeholder="ARS$" required>
                <label for="anticipo">Anticipo</label>
                <input type="number" name="anticipo" min="0" step="any" id="anticipo" placeholder="ARS$" required>
                <div style="display: flex; justify-content: space-between;width: 27.4375rem;">
                    <select class="form-select" name="deporte_cancha" aria-label="Default select example" style="width: 40%;" required>
                        <option value=''>Deporte</option>
                        {% for deporte in deportes %}
                        <option value="{{ deporte.id }}">{{ deporte.descripcion }}</option>
                        {% endfor %}
                    </select>
                    <img id="img_add_cancha" src="#" alt="" style="height: 40px; border-radius: 2px;" />
                    <div>
                        <button type="button" ><label for="add_foto_cancha"><i class="bi bi-camera"></i>Subir Foto</label></button>
                        <input type="file" id="add_foto_cancha" name="foto_cancha" style="display: none;" required>
                    </div>
                    
                </div>
                

            </form>
        </div>
        <div class="modal-footer add-cancha">
            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
            <button type="submit"  form="add-cancha">Agregar</button>
        </div>
      </div>
    </div>
  </div>



<!-- Modal PARA EDITAR -->
<div class="modal fade" id="modaleditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editando mi predio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'editar_mipredio' %}">
            {% csrf_token %}

            <div class="modal-body">

                <div class="form-group">
                    <label for="predio">Predio</label>
                    <input type="text" class="form-control" id="predio" name="predio" aria-describedby="predioHelp" value="{{ predio.nombre }}">
                    <!--<small id="predioHelp" class="form-text text-muted">Predio donde vamos a reservar</small>-->
                </div>


                <div class="row">
                    <div class="form-group col">
                        <label for="direccion">Direccion</label>
                        <input type="text" class="form-control " id="direccion" name="direccion" />

                    </div>
                    <div class="form-group col">
                        <div class="form-group">
                            <label for="telef">Telefono:</label>
                            <!--<select class="form-control" id="telef" name="telef" > onchange="cambio_duracion()"
                                <option value="60" selected>60 min</option>
                                <option value="120">120 min</option>
                            </select>-->
                            <input type="text" class="form-control" name="telef" id="telef" aria-describedby="predioHelp" value="{{ predio.telefono|default_if_none:"" }}">
                        </div>

                    </div>
                </div>
                <input type="hidden" class="form-control" name="predio_id" id="predio_id" value="{{predio.id}}">
                <div class="form-group">
                    <label for="mapa">Link dirección</label>
                    <input type="text" class="form-control" id="mapa" name="mapa" aria-describedby="mapaHelp" value="{{ predio.link_mapa }}">
                    <!--<small id="predioHelp" class="form-text text-muted">Predio donde vamos a reservar</small>-->
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <!--<textarea type="textarea" class="form-control" id="descripcion" aria-describedby="descripHelp" value="{{ predio.descripcion|default_if_none:"" }}">-->
                        <textarea name="descripcion" id="descripcion" cols="30" rows="4" class="form-control" aria-describedby="descripHelp">{{ predio.descripcion|default_if_none:"" }}</textarea>
                    <!--<small id="predioHelp" class="form-text text-muted">Predio donde vamos a reservar</small>-->
                </div>
    
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-primary">Confirmar cambios</button>
            </div>
        </form>

        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}
<script>
    var imgOut = document.getElementById("img_add_cancha");
    var imgInp = document.getElementById("add_foto_cancha");
    imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
        imgOut.src = URL.createObjectURL(file)
    }
    }

    var precio = document.getElementById("precio");
    var anticipo = document.getElementById("anticipo");

    function limit() {
        anticipo.value=Math.min(precio.value,anticipo.value);
    }

    precio.onchange=limit;
    anticipo.onchange=limit;
    $('select[name="deporte"]').change(function () {
        let selectedDeporte = $(this).val(); // Obtiene el valor seleccionado en el primer select.
        // Busca el elemento <option> correspondiente al valor seleccionado
        let selectedOption = $(this).find('option[value="' + selectedDeporte + '"]');
        let predio_id = document.getElementById("predio_id").value;
        let descripcion = selectedOption.text()

        $.ajax({
            url: '/predios_deporte/', //Ojooo con " /  / "
            method: 'GET',
            data: {
                deporte_id: selectedDeporte,
                predio_id:predio_id,
            },
            success: function (data) {
                let list_canchas = document.getElementById("list_canchas");
                let cant_colum = document.getElementById("cant_colum").value;

                // Obtén la fila de encabezados (la primera fila de la tabla)

                //vaciar tabla.
                list_canchas.innerHTML = "";

                //lenar tabla.
                if (data.length === 0) {
                    // Si no hay registros, agregar una fila con un mensaje.
                    let row = list_canchas.insertRow(0);
                    let cell = row.insertCell(0);
                    cell.colSpan = 8; // Colspan para que ocupe toda la tabla.
                    cell.innerHTML = "No existen canchas con estas características.";
                } else {
                    data.forEach(function (cancha, index) {
                        let fila = document.createElement("tr");
                        var celdaNombre = document.createElement("th");
                        var divCard = document.createElement("div");
                        divCard.className = "card"
                        divCard.innerHTML = `
                            <div class="card d-flex justify-content-center" style="height: 147px; background-color: #38CCCC; border-radius: .6875rem;">
                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center ">
                                        <img style="border-radius: .75rem; width: 114px; height: 114px; margin-left: .625rem;" src="${cancha.foto}" alt="${cancha.foto}">
                                    </div>
                                    <div class="col-md-6 px-3">
                                        <div class="card-block px-6">
                                            <h4 class="card-title">${cancha.nombre}</h4>
                                            <p class="card-text">${cancha.deporte}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        celdaNombre.appendChild(divCard);
                        fila.appendChild(celdaNombre)
                        for (var i = 0; i < cant_colum; i++) {
                            let celda = document.createElement("th");
                            celda.style = style="height: 9.1875rem; background-color: #ECFDFD; border: 1px solid #38CCCC;";
                            celda.innerHTML = "";
                            fila.append(celda)
                        }
                        list_canchas.appendChild(fila);

                    });

                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    });


    function ModalEditar(cancha_id) {

        $('#modaleditar').modal('show')
    }

</script>
{% endblock %}