{% extends 'base.html' %}
{% load static %}
{% load consulta_reservas %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-right',
                    iconColor: 'white',
                    width: 500,
                    customClass: {
                        popup: 'colored-toast'
                    },
                    showConfirmButton: false,
                    timer: 3500,
                    timerProgressBar: true
                })
                Toast.fire({
                    icon: 'success',
                    title: '{{ message|safe }}'
                })
            </script>
        {% else %}
            <script>
                Toast.fire({
                    icon: 'error',
                    title: '{{ message|safe }}'
                })
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<section class="predios">
    <h1>Mis Reservas</h1>
    <form action="{% url 'mis_reservas' %}" method="get" class="filtros" style="justify-content: space-around;width: 85%;">
        {% csrf_token %}
        <div>
            Buscar:<input type="text" value="{{filtro_txt}}" id="filtro_txt" name="filtro_txt">
        </div>
        <div>
            Deportes:
            <select name="fil_select" id="fil_select">
                <option value="0"> TODOS</option>
                {% for e in deportes %}
                    {% if fil_select == e.id %}
                        <option value="{{e.id}}" selected> {{e.descripcion}}</option>
                    {% else %}
                        <option value="{{e.id}}" >         {{e.descripcion}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            Estado:
            <select name="state_select" id="state_select">
                <option value="0"> TODOS</option>
                {% if state_select == 1 %}
                    <option value="1" selected> Activas</option>
                {% else %}
                    <option value="1" >         Activas</option>
                {% endif %}
                {% if state_select == 2 %}
                    <option value="2" selected> Pasadas</option>
                {% else %}
                    <option value="2" >         Pasadas</option>
                {% endif %}
            </select>
        </div>
        <button>FILTRAR</button>
    </form>
{% if reservas %}
    {% for reserva in reservas %}
    

        <ul>
            <li {% if not reserva.fecha_fin|is_past %} style=" border-left: solid green 8px;" {% endif %}>
                <img src="{% if reserva.cancha_id.foto.url %}{{ reserva.cancha_id.foto.url }}{% else %}ruta/a/imagen-por-defecto.jpg{% endif %}" alt="{% if predio.logo.url %}{{ predio.logo.url }}{% else %}Texto alternativo por defecto{% endif %}">
                <div class="datos-reservas w-100" >
                    <div class="title-reserva" style="padding: 0; margin: 0;justify-content: space-between;">
                        <a href="{% url 'predio' pk=reserva.cancha_id.predio_id.id %}"><h3>{{ reserva.cancha_id.predio_id.nombre }}</h3></a>
                        <p><i class="bi bi-calendar-event" style="color: #38CCCC;"></i>  {{ reserva.fecha_ini|date:"d/m/y"}}</p>
                    </div>
                    
                    <div>
                        <p>{{ reserva.cancha_id.nombre }}</p>
                        <p><i class="bi bi-clock" style="color: #38CCCC;"></i>  {{ reserva.fecha_ini|date:"H:i"}} - {{ reserva.fecha_fin|date:"H:i" }}</p>
                        <p><i class="bi bi-currency-dollar" style="color: #38CCCC;"></i>{{ reserva.precio }}</p>
                        <p style="color: #38CCCC;"><strong>{{ reserva.cancha_id.deporte_id }}</strong></p>
                    </div>
                    <div>
                        <img src="{% static 'img/Address.png' %}" alt="">
                        <p>{{ reserva.cancha_id.predio_id.direccion }}</p>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>No tienes reservas aún.</p>
{% endif %}
    </section>  

 


<div class="pagination justify-content-center">
    <span class="step-links">
        {% if reservas.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ reservas.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ reservas.number }} de {{ reservas.paginator.num_pages }}
        </span>

        {% if reservas.has_next %}
            <a href="?page={{ reservas.next_page_number }}">Siguiente</a>
            <a href="?page={{ reservas.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

</ul>
{% endblock %}