{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load consulta_reservas %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-right',
                    iconColor: 'white',
                    width: 500,
                    customClass: {
                        popup: 'colored-toast'
                    },
                    showConfirmButton: false,
                    timer: 3500,
                    timerProgressBar: true
                })
                Toast.fire({
                    icon: 'success',
                    title: '{{ message|safe }}'
                })
            </script>
        {% else %}
            <script>
                Toast.fire({
                    icon: 'error',
                    title: '{{ message|safe }}'
                })
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<section class="predios">
    <h1>Mis Reservas</h1>
    <form action="{% url 'mis_reservas' %}" method="get" class="filtros" style="justify-content: space-around;width: 85%;">
        {% csrf_token %}
        <div>
            Buscar:<input type="text" value="{{filtro_txt}}" id="filtro_txt" name="filtro_txt">
        </div>
        <div>
            Deportes:
            <select name="fil_select" id="fil_select">
                <option value="0"> TODOS</option>
                {% for e in deportes %}
                    {% if fil_select == e.id %}
                        <option value="{{e.id}}" selected> {{e.descripcion}}</option>
                    {% else %}
                        <option value="{{e.id}}" >         {{e.descripcion}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            Estado:
            <select name="state_select" id="state_select">
                <option value="0"> TODOS</option>
                {% if state_select == 1 %}
                    <option value="1" selected> Activas</option>
                {% else %}
                    <option value="1" >         Activas</option>
                {% endif %}
                {% if state_select == 2 %}
                    <option value="2" selected> Pasadas</option>
                {% else %}
                    <option value="2" >         Pasadas</option>
                {% endif %}
            </select>
        </div>
        <button>FILTRAR</button>
    </form>
{% if reservas %}
    {% for reserva in reservas %}
    

        <ul>
            <li {% if not reserva.fecha_fin|is_past and reserva.estado == "Pendiente" %} style=" border-left: solid green 8px;" {% endif %}
                {% if reserva.estado == "Cancelado" %} style=" border-left: solid red 8px;" {% endif %}
            >
                <img src="{% if reserva.cancha_id.foto.url %}{{ reserva.cancha_id.foto.url }}{% else %}ruta/a/imagen-por-defecto.jpg{% endif %}" alt="{% if predio.logo.url %}{{ predio.logo.url }}{% else %}Texto alternativo por defecto{% endif %}">
                <div class="datos-reservas w-100" >
                    <div class="title-reserva" style="padding: 0; margin: 0;justify-content: space-between;">
                        <a href="{% url 'predio' pk=reserva.cancha_id.predio_id.id %}"><h3>{{ reserva.cancha_id.predio_id.nombre }}</h3></a>
                        <p><i class="bi bi-calendar-event" style="color: #38CCCC;"></i>  {{ reserva.fecha_ini|date:"d/m/y"}}</p>
                    </div>
                    
                    <div>
                        <p>{{ reserva.cancha_id.nombre }}</p>
                        <p><i class="bi bi-clock" style="color: #38CCCC;"></i>  {{ reserva.fecha_ini|date:"H:i"}} - {{ reserva.fecha_fin|date:"H:i" }}</p>
                        <p><i class="bi bi-currency-dollar" style="color: #38CCCC;"></i>{{ reserva.precio }}</p>
                        <p style="color: #38CCCC;"><strong>{{ reserva.cancha_id.deporte_id }}</strong></p>
                    </div>
                    <div style="justify-content: space-between; margin:0px;">
                        <div>
                            <img src="{% static 'img/Address.png' %}" alt="">
                            <p>{{ reserva.cancha_id.predio_id.direccion }}</p>
                        </div>
                        {% if not reserva.fecha_fin|is_past and reserva.estado == "Pendiente"  %}
                        <button type="button" onclick="ModalCancelarReserva({{reserva.id}})" style="margin: 8px;">
                            Cancelar
                        </button>
                        {% endif %}
                        {% if reserva.estado == "Cancelado" %}
                        <p style="border: solid red; border-radius: 8px; color:red;">Cancelado</p>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>No tienes reservas aún.</p>
{% endif %}
    </section>  

 


<div class="pagination justify-content-center">
    <span class="step-links">
        {% if reservas.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ reservas.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ reservas.number }} de {{ reservas.paginator.num_pages }}
        </span>

        {% if reservas.has_next %}
            <a href="?page={{ reservas.next_page_number }}">Siguiente</a>
            <a href="?page={{ reservas.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

</ul>

<div class="modal" tabindex="-1" id="cancel-reserva">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header cancel-res">
            <h5 class="modal-title">Cancelar Reserva</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body add-cancha">
            <h4>
                ¿Estás seguro que quieres cancelar esta reserva?
            </h4>
            <div style="width: 100%;border-radius: 5px;background-color:lightgray; padding: 10px; margin-bottom: 1rem;">
                <p id="cancelar_nombre" style="margin: 0;">

                </p>
                <p id="cancelar_fecha" style="margin: 0;">
                    <i class="bi bi-calendar-event" style="color: #38CCCC; padding-right: .625rem;"></i>
                </p>
                <p id="cancelar_horario" style="margin: 0;">
                    <i class="bi bi-clock" style="color: #38CCCC; padding-right: .625rem;"></i>
                </p>
                <p id="cancelar_precio" style="margin: 0;">
                    <i class="bi bi-currency-dollar" style="color: #38CCCC; padding-right: .625rem;"></i>
                </p>
            </div>
            
            <div style="width: 100%;border-radius: 5px;background-color:rgb(252, 164, 33); justify-content: center; display: flex;margin-bottom: 1rem; align-items: center; padding: 0px;">
                <p style="margin: 1rem;">
                    Recuerde que el monto de la reserva no será devuelto.
                </p>
            </div>
            <form action="{% url 'cancelar_reserva' %}" method="post" id="cancelar-reserva" enctype="multipart/form-data" >
                {% csrf_token %}
                <input type="hidden" value="" id="reserva-id" name="reserva_id">
            </form>
        </div>
        <div class="modal-footer add-cancha">
            <a type="button" class="btn btn-secondary volver-cancel" data-bs-dismiss="modal">Volver</a>
            <button type="submit" class="btn-cancel" form="cancelar-reserva">Cancelar Reserva</button>
        </div>
    </div>
    </div>
</div>

<script>

    function capitalizeWords(str) {
    // Divide el string en palabras usando espacio como separador
    const words = str.split(' ');

    // Itera sobre cada palabra y capitaliza la primera letra
    const capitalizedWords = words.map(word => {
        if (word.length > 0) {
        return word[0].toUpperCase() + word.slice(1).toLowerCase();
        } else {
        return word; // Si la palabra está vacía, la deja igual
        }
    });

    // Une las palabras nuevamente en un solo string
    return capitalizedWords.join(' ');
    }
    let text= '{'+
        {% for reserva in reservas %}'"{{reserva.id}}" :{ "predio":"{{reserva.cancha_id.predio_id.nombre}}" , "cancha": "{{reserva.cancha_id.nombre}}", "fecha":"{{reserva.fecha_ini|date:"l d/m"}}", "horario":"{{reserva.fecha_ini|date:"H:i"}} - {{reserva.fecha_fin|date:"H:i"}}", "precio": {{reserva.precio|unlocalize}} }{% if not forloop.last %},' + {% endif %}{% endfor %}}';
        
        

    const reservas = JSON.parse(text);


    function ModalCancelarReserva(reserva_id) {
        var cancel_horario = document.getElementById("cancelar_horario");
        var cancel_fecha = document.getElementById("cancelar_fecha");
        var cancel_nombre = document.getElementById("cancelar_nombre");
        var cancel_precio = document.getElementById("cancelar_precio");
        var cancel_id = document.getElementById("reserva-id");

        cancel_id.value=reserva_id;
        reserva=reservas[reserva_id];
        const icon_fecha = cancel_fecha.querySelector('i');
        const icon_horario = cancel_horario.querySelector('i');
        const icon_precio = cancel_precio.querySelector('i');

        // Reemplaza el contenido de texto dentro del párrafo
        cancel_fecha.removeChild(cancel_fecha.firstChild); // Elimina el texto existente
        cancel_horario.removeChild(cancel_horario.firstChild);
        cancel_precio.removeChild(cancel_precio.firstChild); 
        // Añade el ícono nuevamente
        cancel_fecha.appendChild(icon_fecha);
        cancel_horario.appendChild(icon_horario);
        cancel_precio.appendChild(icon_precio);
        // Agrega el nuevo texto
        cancel_fecha.appendChild(document.createTextNode(capitalizeWords(reserva.fecha))); 
        cancel_horario.appendChild(document.createTextNode(reserva.horario)); 
        cancel_precio.appendChild(document.createTextNode(reserva.precio)); 

        cancel_nombre.textContent=reserva.predio + ' - ' + reserva.cancha 
        $('#cancel-reserva').modal('show')
    }
</script>
{% endblock %}