{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-right',
                    iconColor: 'white',
                    width: 500,
                    customClass: {
                        popup: 'colored-toast'
                    },
                    showConfirmButton: false,
                    timer: 3500,
                    timerProgressBar: true
                })
                Toast.fire({
                    icon: 'success',
                    title: '{{ message|safe }}'
                })
            </script>
        {% else %}
        <script>
            Toast.fire({
                icon: 'error',
                title: '{{ message|safe }}'
            })
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

<section class="predios">
    <h1>Predios disponibles</h1>
    <form action="{% url 'predios' %}" method="get" class="filtros">
        {% csrf_token %}
        <div>
            Buscar:<input type="text" value="{{filtro_txt}}" id="filtro_txt" name="filtro_txt">
        </div>
        <div>
            Deportes:
            <select name="fil_select" id="fil_select">
                <option value="0"> TODOS</option>
                {% for e in deportes %}
                    {% if fil_select == e.id %}
                        <option value="{{e.id}}" selected> {{e.descripcion}}</option>
                    {% else %}
                        <option value="{{e.id}}" >         {{e.descripcion}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    
        <button>FILTRAR</button>
    </form>
{% if predios %}
    {% for predio in predios %}
    <!-- <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-md-6 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title">{{ predio.nombre }}</h4>
                        <p class="card-text">{{ predio.direccion }}</p>
                        <a href="{% url 'predio' pk=predio.id %}" class="mt-auto btn btn-primary">Ver</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% if predio.logo.url %}{{ predio.logo.url }}{% else %}ruta/a/imagen-por-defecto.jpg{% endif %}" alt="{% if predio.logo.url %}{{ predio.logo.url }}{% else %}Texto alternativo por defecto{% endif %}">
                </div>
            </div>
        </div>
    </div> -->

        <ul>
            <li>
                <img src="{% if predio.logo.url %}{{ predio.logo.url }}{% else %}ruta/a/imagen-por-defecto.jpg{% endif %}" alt="{% if predio.logo.url %}{{ predio.logo.url }}{% else %}Texto alternativo por defecto{% endif %}">
                <div class="datos-predio">
                    <a href="{% url 'predio' pk=predio.id %}"><h3>{{ predio.nombre }}</h3></a>
                    <div>
                        <img src="{% static 'img/Address.png' %}" alt="">
                        <p>{{ predio.direccion }}</p>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>No existen predios disponibles en este momento.</p>
{% endif %}
    </section>  

 


<div class="pagination justify-content-center">
    <span class="step-links">
        {% if predios.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ predios.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ predios.number }} de {{ predios.paginator.num_pages }}
        </span>

        {% if predios.has_next %}
            <a href="?page={{ predios.next_page_number }}">Siguiente</a>
            <a href="?page={{ predios.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

</ul>
{% endblock %}