{% extends 'base.html' %}
{% load static %}
{% load consulta_reservas %}
{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <!-- <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
            </svg>
            <div class="alert alert-success d-flex alert-dismissible fade show" role="alert" style="position: 0 50%; width: 50%; border-radius: 1.5rem; text-align: center; margin: 0 auto;"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> 
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> -->
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-right',
                    iconColor: 'white',
                    width: 500,
                    customClass: {
                        popup: 'colored-toast'
                    },
                    showConfirmButton: false,
                    timer: 3500,
                    timerProgressBar: true
                })
                Toast.fire({
                    icon: 'success',
                    title: '{{ message|safe }}'
                })
            </script>
        {% else %}
            <!-- <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" style="position: fixed; width: 100%;"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> -->
            <script>
                Toast.fire({
                    icon: 'error',
                    title: '{{ message|safe }}'
                })
            </script>
        {% endif %}
        {% endfor %}
    {% endif %}
<div class="container">

    <div cl id="contenedor_perfil" class="row mb-3">
        <h4>Perfil del predio</h4>
        <div class="col-6 d-flex justify-content-center align-items-center">
            {% if predio.logo %}
            <img style="height: 340px; width: 340px; border-radius: 26px;" src="{{ predio.logo.url }}"
                alt="{{ predio.logo.url }}">
            {% else %}
            <img style="height: 340px; width: 340px; border-radius: 26px;" src="media/upload/predio.png"
                alt="Imagen Predeterminada">
            {% endif %}
        </div>
        <div class="col-6 d-flex flex-column justify-content-center datos">
            <div class="titl">
                    <h4>{{ predio.nombre }}</h4> 
                <br>
                <h3>{% if predio.direccion %}
                    {{ predio.direccion }}
                    {% else %}
                    No se encuentra cargado
                    {% endif %}</h3>
                <br>
                <div class="dir-container">
                    <img src="{% static 'img/VOIP.png' %}" alt="Direccion: ">
                    <p>{% if predio.telefono %}
                        {{ predio.telefono }}
                        {% else %}
                        No se encuentra cargado
                        {% endif %}</p>
                </div>
                <br>
                <div class="dir-container">
                    <img src="{% static 'img/Database-Mail.png' %}" alt="Direccion: ">
                    <p>
                        {% if predio.email %}
                        {{ predio.email }}
                        {% else %}
                        No se encuentra cargado
                        {% endif %}
                    </p>
                </div>
                <input type="hidden" id="predio_id" value="{{ predio.id }}">
            </div>
            <div class="desc">
                <p> <!-- MAPA -->
                    {% if predio.link_mapa %}
                    <img src="{% static 'img/Address.png' %}" alt="Direccion: ">
                        <a href="{{predio.link_mapa}}">¿Donde estamos?</a>
                    {% else %}
                        <p>No esta cargado el mapa</p> 
                    {% endif %}
                </p>
                <p>
                    {% if predio.descripcion %}
                    {{ predio.descripcion }}
                    {% else %}
                    No esta cargada una descripcion
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div id="contenedor_canchas" class="row turnos ">
        <h2>Turnos disponibles del predio</h2>

        <div style="display: flex;  align-items: center; gap: 20px;justify-content: center " >
            <form method="get" action="{% url 'predio' predio.id %}">
                <input type="hidden" name="dia_reserva" id="dia_reserva" value="{{ dia_reserva}}">
                <input type="hidden" name="accion" id="accion_2" value="anterior">
                <button type="submit"><</button>
            </form>
            {% reformat_date dia_reserva as dia_formateado %}
            <p>Reserva para el dia : {{ dia_formateado }}</p>    
            <form method="get" action="{% url 'predio' predio.id %}">
                <input type="hidden" name="dia_reserva" id="dia_reserva" value="{{ dia_reserva}}">
                <input type="hidden" name="accion" id="accion_1" value="siguiente">
                <button type="submit">></button>
            </form>
        </div>



        <div class="table-container d-flex justify-content-center">
            <table  id="tabla-reservas">
                <thead>
                    <td style="width: 25%; background-color: #ABF7F7;">
                        <select class="form-select" name="deporte" aria-label="Default select example">
                            <option value='all' selected>Selecciona un deporte</option>
                            {% for deporte in deportes %}
                            <option value="{{ deporte.id }}">{{ deporte.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% for hora in horas %}
                    <td>{{ hora|date:"H:i" }}</td>

                    {% endfor %}
                </thead>
                <tbody id="list_canchas">
                    {% if canchas %}
                    {% for cancha in canchas %}
                    <tr style="height: 9.1875rem;">
                        <th style="height: 9.1875rem;">
                            <div class="card d-flex justify-content-center"
                                style="height: 147px; background-color: #38CCCC; border-radius: .6875rem;">
                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center ">
                                        <img style="border-radius: .75rem; width: 114px; height: 114px; margin-left: .625rem;"
                                            src="{{ cancha.foto.url }}" alt="{{ cancha.foto }}">
                                    </div>
                                    <div class="col-md-6 card-datos">
                                        <div class="card-block px-6">
                                            <h4 class="">{{ cancha.nombre }}</h4>
                                            <p class="">{{ cancha.deporte_id }} <br> Precio: ${{ cancha.precio }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        {% for hora in horas %}
                        
                            {% get_reservas cancha hora as r %}

                            {% if r %}
                                {% if user != r %}
                                    <td style="height: 9.1875rem; background-color: #577373; border: 1px solid #38CCCC; color: #ABF7F7; text-align: center; font-family: Lexend; font-weight: bold;">
                                        {{ r }}
                                    </td>
                                {% else %}
                                    <td style="height: 9.1875rem; background-color: #6aa3b4; border: 1px solid #38CCCC; color: #ABF7F7; text-align: center; font-family: Lexend; font-weight: bold;">
                                        {{ r }}
                                    </td>
                                {% endif %}
                            {% else %}
                            <td onclick="openModal('{{ cancha.id }}','{{ hora }}')" class="td-no-reservado" style="cursor: pointer; height: 9.1875rem; background-color: #ECFDFD; border: 1px solid #38CCCC;"></td>
                             {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="{{ horas|length}}">No existen canchas disponibles en este momento.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>



</div>


<!-- Modal -->
<div class="modal fade" id="modalreserva" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmar Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'crear_reserva' %}">
            {% csrf_token %}

            <div class="modal-body">

                    <div class="form-group">
                        <label for="predio">Predio</label>
                        <input type="text" class="form-control" id="predio" aria-describedby="predioHelp" value="{{ predio.nombre }}" disabled>
                        <small id="predioHelp" class="form-text text-muted">Predio donde vamos a reservar</small>
                    </div>


                    <div class="row">
                        <div class="form-group col">
                            <label for="cancha">Cancha</label>
                            <input type="text" class="form-control " id="cancha" aria-describedby="canchaHelp">

                        </div>
                        <div class="form-group col">
                            <div class="form-group">
                                <label for="duracion">Duración:</label>
                                <select class="form-control" id="duracion" name="duracion" onchange="cambio_duracion()">
                                    <option value="60" selected>60 min</option>
                                    <option value="120">120 min</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="cancha_id" id="cancha_id">

                    <div class="row">
                        <!-- Las primeras 6 columnas están vacías -->
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Fecha_ini">Horario de inicio</label>
                                <input type="text" class="form-control" id="Fecha_ini" name="Fecha_ini" readonly >
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Fecha_fin">Horario fin </label>
                                <input type="text" class="form-control" id="Fecha_fin" name="Fecha_fin" readonly >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Las primeras 6 columnas están vacías -->
                        <div class="col-6"></div>
                        <div class="form-group col">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" id="precio" name="precio" readonly  >
                            <input type="hidden" class="form-control" id="precio_base" name="precio_base">

                        </div>
                    </div>
            
            
            
            
            
    
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
            </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script>
    
    //filter por deporte.
    $('select[name="deporte"]').change(function () {
        let selectedDeporte = $(this).val() // Obtiene el valor seleccionado en el primer select.
        // Busca el elemento <option> correspondiente al valor seleccionado
        let selectedOption = $(this).find('option[value="' + selectedDeporte + '"]')
        let predio_id = document.getElementById("predio_id").value;
        let descripcion = selectedOption.text()

        $.ajax({
            url: '/predios_deporte/', //Ojooo con " /  / "
            method: 'GET',
            data: {
                deporte_id: selectedDeporte,
                predio_id: predio_id,
            },
            success: function (data) {
                let list_canchas = document.getElementById("list_canchas")

                // Obtén la fila de encabezados (la primera fila de la tabla)

                //vaciar tabla.
                list_canchas.innerHTML = ""
                horas = obtenerHoras()

                //lenar tabla.
                if (data.length === 0) {
                    // Si no hay registros, agregar una fila con un mensaje.
                    let row = list_canchas.insertRow(0)
                    let cell = row.insertCell(0)
                    cell.colSpan = 8// Colspan para que ocupe toda la tabla.
                    cell.innerHTML = "No existen canchas con estas características."
                } else {
                    data.forEach(function (cancha, index) {
                        let fila = document.createElement("tr")
                        var celdaNombre = document.createElement("th")
                        var divCard = document.createElement("div")
                        divCard.className = "card"
                        divCard.innerHTML = `
                            <div class="card d-flex justify-content-center" style="height: 147px; background-color: #38CCCC; border-radius: .6875rem;">
                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center ">
                                        <img style="border-radius: .75rem; width: 114px; height: 114px; margin-left: .625rem;" src="${cancha.foto}" alt="${cancha.foto}">
                                    </div>
                                    <div class="col-md-6 px-3">
                                        <div class="card-block px-6">
                                            <h4 class="card-title">${cancha.nombre}</h4>
                                            <p class="card-text">${cancha.deporte}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        celdaNombre.appendChild(divCard);
                        fila.appendChild(celdaNombre)
                        //hora = convertirCadenaALista(hora)
                        let dia_reserva = document.getElementById("dia_reserva").value
                        let reservas = []
                        let solicitudesCompletadas = 0;
                        let totalSolicitudes = horas.length;
                        horas.forEach(function(hora,index){
                            let dia_hora_reserva = dia_reserva + " " + hora;

                            $.ajax({
                                url: "{% url 'get_reserva' %}", 
                                method: 'GET',
                                data: {
                                    cancha_id: cancha.cancha_id,
                                    dia_hora_reserva: dia_hora_reserva,
                                },
                                success: function (data) {
                                    reservas.push(data)
                                    solicitudesCompletadas++;


                                    if (solicitudesCompletadas === totalSolicitudes) {

                                        llenartablas(ordenarPorFecha(reservas,'dia_hora_reserva'),fila)
                                        list_canchas.appendChild(fila);
                                        //console.log(ordenarPorFecha(reservas,'dia_hora_reserva'))

                                    }
                                  
                                    /*alert(dia_hora_reserva+ "reserva ")

                                    // Crea una celda de tabla
                                    let celda = document.createElement('td');
                                    celda.style.height = '9.1875rem';
                                    celda.style.border = '1px solid #38CCCC';
                                    if (data!=='') {
                                        celda.style.backgroundColor = '#577373';
                                        celda.style.color = '#ABF7F7';
                                        celda.style.textAlign = 'center';
                                        celda.style.fontFamily = 'Lexend';
                                        celda.style.fontWeight = 'bold';
                                        celda.textContent = data;
                                    } else {
                                        celda.style.backgroundColor = '#ECFDFD';
                                        celda.onclick = function() {
                                            openModal(cancha.cancha_id, dia_hora_reserva);
                                        };
                                    }
                                    fila.appendChild(celda)   */

                                },
                                error: function (error) {
                                    console.error(error);
                                }
                            });
                        });

                    });

                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
    function llenartablas(lista,fila){
        lista.forEach(function(elemento,index){
            let celda = document.createElement('td');
            celda.style.height = '9.1875rem';
            celda.style.border = '1px solid #38CCCC';
            if (elemento.user === null) {
                celda.style.backgroundColor = '#ECFDFD';
                celda.onclick = function() {
                    openModal(elemento.cancha_id, elemento.dia_hora_reserva);
                };
            }
            else{
                console.log(elemento.mi_reserva)
                if(elemento.mi_reserva==null){
                    celda.style.backgroundColor = '#577373';
                    celda.textContent = elemento.user.username;

                }
                else{
                    celda.textContent = elemento.user.username;
                    celda.style.backgroundColor = '#6aa3b4';

                }
                celda.style.color = '#ABF7F7';
                celda.style.textAlign = 'center';
                celda.style.fontFamily = 'Lexend';
                celda.style.fontWeight = 'bold';
            }
            fila.appendChild(celda)  


        });


    }

        
    function ordenarPorFecha(lista, campo) {
        return lista.sort(function(a, b) {
            const dateA = new Date(a[campo]);
            const dateB = new Date(b[campo]);
            return dateA - dateB;
        });
    }
    
    function openModal(cancha_id,hora) {

        //Hora



        // Formatear la nueva fecha y hora en un formato específico
        $.ajax({
            url: '/cancha/', //Ojooo con " /  / "
            method: 'GET',
            data: {
                cancha_id: cancha_id,
            },
            success: function (data) {

                //cancha_id
                let inpcancha_id = document.getElementById("cancha_id")
                inpcancha_id.value = cancha_id
                //Nombre de cancha
                let inpcancha = document.getElementById("cancha")
                inpcancha.value = data.nombre
                //Precio
                let inprecio =document.getElementById("precio")
                inprecio.value=parseInt(data.precio)

                var fecha_final = new Date(hora);
                // Sumar una hora
                fecha_final.setHours(fecha_final.getHours() + 1);
            
                let inphorario_f = document.getElementById("Fecha_fin")
                
                inphorario_f.value=convertirFecha(fecha_final)
        
                // Utiliza expresiones para extraer la hora
                let inphorario_i = document.getElementById("Fecha_ini")
                //let hora_c = hora.match(/\d{2}:\d{2}/)[0];
                inphorario_i.value = convertirFecha(hora)
                sessionStorage.setItem('precio_base',data.precio) //Variable sesion
                sessionStorage.setItem('hora_base',convertirFecha(hora)) //Variable sesion

                        
            },
            error: function (error) {
                console.error(error);
            }
        });

        $('#modalreserva').modal('show')
    }

    function convertirFecha(fechaOriginal) {
        let fecha = new Date(fechaOriginal);
        let año = fecha.getFullYear();
        let mes = ('0' + (fecha.getMonth() + 1)).slice(-2);
        let dia = ('0' + fecha.getDate()).slice(-2);
        let hora = ('0' + fecha.getHours()).slice(-2);
        let minutos = ('0' + fecha.getMinutes()).slice(-2);
      
        let fechaFormateada = año + '-' + mes + '-' + dia + ' ' + hora + ':' + minutos;
        return fechaFormateada;
      }
      
    
    function cambio_duracion(precio){
        let select = document.getElementById("duracion")
        let selectedValue = select.options[select.selectedIndex].value

        let  hora_base = sessionStorage.getItem('hora_base');
        let  precio_base = sessionStorage.getItem('precio_base');

        let inprecio =document.getElementById("precio")
        inprecio.value = parseInt(precio_base) * (selectedValue / 60);

        alert(hora_base)
        let fecha_fin = document.getElementById("Fecha_fin")
        
        fecha_fin.value =sumarHoras(hora_base,(selectedValue / 60))



    }
    function sumarHoras(horaOriginal, n) {
        // Crea un objeto Date a partir de la hora original
        var fechaHora = new Date(horaOriginal);
      
        // Suma n horas a la hora original
        fechaHora.setHours(fechaHora.getHours() + n);
      
        // Formatea la nueva hora en el formato "AAAA-MM-DD HH:MM"
      
        return convertirFecha(fechaHora);
    }


    function obtenerHoras() {
        var encabezados = [];
        var celdasEncabezados = document.querySelectorAll('#tabla-reservas thead td');
      
        for (var i = 1; i < celdasEncabezados.length; i++) { // Empezamos desde 1 para omitir la primera celda
          encabezados.push(celdasEncabezados[i].textContent.trim());
        }
      
        return encabezados;
      }

      

</script>
{% endblock %}