<!DOCTYPE html>
<html>

<head>
    <title>Program Subscription</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style type="text/css">
        table[name="blk_permission"],
        table[name="blk_footer"] {
            display: none;
        }
    </style>
    <meta name="googlebot" content="noindex" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body marginheight=0 marginwidth=0 topmargin=0 leftmargin=0
    style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;min-width: 100%;">

    <table name="bmeMainBody" style="background-color: #ECFDFD;" width="100%" cellspacing="0" cellpadding="0" border="0"
        bgcolor="#8b7c5f">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="center">
                    <table name="bmeMainColumnParentTable" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td name="bmeMainColumnParent"
                                    style="border: 0px none transparent; border-radius: 0px; border-collapse: separate;">
                                    <table name="bmeMainColumn" class="bmeHolder"
                                        style="max-width: 600px; overflow: visible; border-radius: 0px; border-collapse: separate; border-spacing: 0px;"
                                        cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td class="blk_container bmeHolder" name="bmePreHeader"
                                                    style="color: #ECFDFD; border: 0px none transparent;" width="100%"
                                                    valign="top" bgcolor="" align="center">
                                                    <div id="dv_2" class="blk_wrapper">
                                                        <table class="blk" name="blk_permission" style="" width="600"
                                                            cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td name="tblCell" style="padding:20px;"
                                                                        valign="top" align="left">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0" border="0">

                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bmeHolder" name="bmeMainContentParent"
                                                    style="border: 0px none rgb(102, 102, 102); border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: hidden;"
                                                    width="100%" valign="top" align="center">
                                                    <table name="bmeMainContent"
                                                        style="border-radius: 0px; border-collapse: separate; border-spacing: 0px; border: 0px none transparent;"
                                                        width="100%" cellspacing="0" cellpadding="0" border="0"
                                                        align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmeHeader"
                                                                    style="border: 0px none transparent; background-color: rgb(139, 124, 95);"
                                                                    width="100%" valign="top" bgcolor="#8b7c5f"
                                                                    align="center">
                                                                    <div id="dv_3" class="blk_wrapper">
                                                                        <table class="blk" name="blk_image" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table width="100%"
                                                                                            cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="bmeImage"
                                                                                                        style="padding: 0px; border-collapse: collapse;"
                                                                                                        align="center">
                                                                                                        <img src="https://i.ibb.co/JkMrNSc/logo-color.png"
                                                                                                            alt="logo-color"
                                                                                                            style="max-width: 1200px; display: block; width: 600px;"
                                                                                                            alt=""
                                                                                                            width="600"
                                                                                                            border="0">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_4" class="blk_wrapper">
                                                                        <table class="blk" name="blk_divider"
                                                                            style="background-color: #ECFDFD;"
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="tblCellMain"
                                                                                        style="padding: 10px 20px;">
                                                                                        <table class="tblLine"
                                                                                            style="border-top-width: 0px; border-top-style: none; min-width: 1px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmePreFooter"
                                                                    style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgb(255, 255, 255);"
                                                                    width="100%" valign="top" bgcolor="#ffffff"
                                                                    align="center">
                                                                    <div id="dv_6" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: rgb(56, 56, 56); text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 200%;">
                                                                                                                            <span
                                                                                                                                style="font-size: 20px; font-family: 'Arial Black', 'Arial Bold', sans-serif; color: #3a3a3a; line-height: 200%;"><strong>Verificación de Usuario</strong></span><br><br><span
                                                                                                                                style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #b0b0b0; line-height: 200%;">
                                                                                                                                ¡Bienvenido a ReservaTotal!
                                                                                                                                <br>
                                                                                                                   
                                                                                                                                La verificación de la cuenta ayuda a fortalecer la seguridad y asegura que solo tú tengas acceso a tu perfil y a la información de tus reservas. Puedes verificar tu cuenta fácilmente a través de la configuración de tu perfil.
                                                                                                                                <br>
                                                                                                                                ¡Disfruta de todas las ventajas de ser parte de ReservaTotal! Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nuestro equipo de soporte.
                                                                                                                                <br>
                                                                                                                                ¡Gracias por elegir ReservaTotal!                                                                                                                            </span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_7" class="blk_wrapper">
                                                                        <table class="blk" name="blk_divider" style=""
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="tblCellMain"
                                                                                        style="padding: 10px 20px;">
                                                                                        <table class="tblLine"
                                                                                            style="border-top-width: 1px; border-top-color: rgb(233, 233, 233); border-top-style: solid; min-width: 1px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_14" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                    style="padding: 5px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: rgb(56, 56, 56); text-align: left;"
                                                                                                                    valign="top"
                                                                                                                    align="left">
                                                                                                                    <div
                                                                                                                        style="line-height: 150%;">
                                                                                                                        <span
                                                                                                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 150%; color: #3a3a3a;"><strong>Email: </strong></span><span
                                                                                                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 150%; color: #959595;">
                                                                                                                            email_user </span>
                                                                                                                    </div>
                                                                                                                </td>
                                                                                                                <td name="tblCell"
                                                                                                                    style="padding: 5px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: rgb(56, 56, 56); text-align: left;"
                                                                                                                    valign="top"
                                                                                                                    align="left">
                                                                                                                    <div
                                                                                                                        style="line-height: 150%;">
                                                                                                                        <span
                                                                                                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 150%; color: #3a3a3a;"><strong>Nombre :</strong></span><span
                                                                                                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 150%; color: #959595;">
                                                                                                                            nombre_user</span>
                                                                                                                    </div>
                                                                                                                </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_9" class="blk_wrapper">
                                                                        <table class="blk" name="blk_divider" style=""
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="tblCellMain"
                                                                                        style="padding: 10px 20px;">
                                                                                        <table class="tblLine"
                                                                                            style="border-top-width: 1px; border-top-color: rgb(233, 233, 233); border-top-style: solid; min-width: 1px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                              
                                                       
                              
                                                   
                                                               
                                                                    <div id="dv_18" class="blk_wrapper">
                                                                        <table class="blk" name="blk_button" style="" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="40"></td>
                                                                                    <td align="center">
                                                                                        <table class="tblContainer" width="100%"
                                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td height="20">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="right">
                                                                                                        <table class="bmeButton"
                                                                                                            style="border-collapse: separate;"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0" border="0"
                                                                                                            align="right">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td style="border-radius: 20px; border: 0px none rgba(0, 0, 0, 0); text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 15px 25px; font-weight: bold; border-collapse: separate; background-color: #042F2F;"
                                                                                                                        class="bmeButtonText">
                                                                                                                        <span
                                                                                                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(255, 255, 255);"><a
                                                                                                                                href="{% url 'mi_predio' %}"
                                                                                                                                style="color:#FFFFFF;text-decoration:none;"
                                                                                                                                target="_blank">Verificar</a></span>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="20">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td width="40"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                 
                                                    <div id="dv_20" class="blk_wrapper">
                                                        <table class="blk" name="blk_divider" style="" width="600"
                                                            cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="tblCellMain" style="padding: 10px 20px;">
                                                                        <table class="tblLine"
                                                                            style="border-top-width: 0px; border-top-style: none; min-width: 1px;"
                                                                            width="100%" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td><span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
</body>